.projects{
  align-items: center;
  justify-content: center;
  height: 95vh;
}

.fixed-bg {
  background-image: url('../Assets/project-bg.jpg');
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.rating-project {
  
background: rgba(255, 255, 255, 0.2);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(0.3px);

}

.rating-project i {
  font-size: 3rem;
}

/* .scrole-test-div {
  height: 800px;
  background-color: rgb(199, 31, 31);
  width: 100%;
}
.scrole-test-div1 {
  height: 300px;
  background-color: rgb(34, 107, 40);
  width: 100%;
} */