.home-component {
  display: flex;
  align-items: center;
  justify-content: left;
  justify-content: space-around;
  padding: 20px;
  background-color: #343434;
  height:100vh;
  font-size: clamp(1em, 0.1vw + 1vw, 3em);
  margin-top: 10px;

}

.text-content {
  max-width: 500px;
  padding-top: 60px;
}

.subheading {
  font-weight: bold;
  color: #fff;
}

.heading {
  font-size: 2.5em;
  color: #5CE1E6;
  margin: 10px 0;
}

.paragraph {
  font-size: 16px;
  color: #fff;
  margin-bottom: 20px;
}

.button {
  background-color: #435EAB;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.animation-container {
  max-width: 600px;
}
.image-test {
  /* background-color: #008000; */
  min-width: 300px;
  height: 400px;
  margin-left: -100px;
  padding-top: 10px;
}
.image-test Lottie {
  min-width: 300px;
  height: 400px;
  margin-left: -100px;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .home-component {
    flex-direction: column; /* Stacks content on smaller screens */
  }
}
@media (max-width: 445px) {
  .home-component{
    height: 150vh;
  }
  .animation-container {
    max-width: 100px !important;
  }
}
