/* General styles */
.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  background-color: #343434;
  color: white;
}

.form-section, .customer-care-section {
  flex: 1 1 45%;
  box-sizing: border-box;
  padding: 10px;
  min-width: 300px;
}

.contact-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.contact-container p {
  font-size: 16px;
  margin-bottom: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form input, .contact-form textarea {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 100%;
  box-sizing: border-box;
}

.contact-form button {
  padding: 10px;
  border: none;
  background-color: #0056b3;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
}

.customer-care-section {
  display: flex;
  flex-direction: column;
}

.customer-card {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.customer-card img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.social-media-section {
  margin-top: 20px;
}

.social-media-icons {
  display: flex;
  justify-content: flex-start;
}

.social-media-icons a {
  display: inline-block;
  margin-right: 15px;
  text-decoration: none;
  color: white;
}

.social-media-icons i {
  font-size: 20px;
  padding: 15px;
  border-radius: 50%;
  text-align: center;
  width: 50px;
  height: 50px;
}

.facebook-bg {
  background-color: #3b5998;
}

.twitter-bg {
  background-color: #1da1f2;
}

.social-media-icons a:hover i {
  opacity: 0.8;
}
